#main {
	color: #000;
	width: 400px;
	height: 400px;
	background-color: grey;
	position: relative;
}

.send-block {
	position: absolute;
	left: 0;
	top: 410px;
	height: 30px;
	width: 400px;
}

.chate-block {
	overflow: hidden;
	overflow-y: auto;
	height: 400px;
}

.data {
	width: 300px;
}

.send {
	float: right;
}